<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <targets>
    <target xsi:type="File" name="target1" fileName="c:\temp\nlog-all-${shortdate}.log"
            layout="${date}|${level:uppercase=true}|${message} ${exception}|${logger}|${all-event-properties}" />

    <target xsi:type="Console" name="target2"
            layout="${date} | ${level:uppercase=true} | ${message}${exception}|${logger}|" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="target1, target2" />
  </rules>
</nlog>